section
  h2 About me
  div(style='position: relative')
    img(class='boredered circular', alt='profile picture', src='/images/pp.png')
  div(style='margin-left: 10px')
    a(href='https://twitter.com/pierreboissinot', target='_blank')
      i(class='fa fa-twitter', aria-hidden='true', style='position: relative')
      | @pierreboissinot
    br
    a(href='pierreboissinot.net', target='_blank') 
      i(class='fa fa-link left-icon', aria-hidden='true')
      | pierreboissinot.net

footer
  p
    a(href='https://github.com/pierreboissinot/resume_to_qna', style='color: white;')
      i(class='fa fa-github left-icon', aria-hidden='true')
      | Github 
    |  | 
    | It is licensed under MIT Licence.