extends layout

block content
  table
    caption QnA
    thead
      tr
        th Question
        th Answer
    tbody
      each record in records
        tr
          td(data-label='Question')=record.question
          td(data-label='Answer')=record.answer
  a(class='button primary', href='/qna/' + resumeId)
    i(class='fa fa-download', aria-hidden='true')
    | Download as qna.tsv
  a(class='button secondary', href='/')
    i(class='fa fa-back', aria-hidden='true')
    | Go Back